h1 {
    text-align-last: center;
}

p {
    margin: 4px;
}

.home {
    width: 70%;
    display: flex;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.contact {
    color: white;
}

header {
    border: 2px;
    border-color: white;
    padding-bottom: 2px;
    border-radius: 25px;
    border-style: double;
    margin: auto;
    color: white;
    width: 90%;
    position: relative;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    background-image: url("Downtown.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.likes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bio {
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#hobbies {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 30%;
    margin-top: 10px;
    padding: 3px;
    border: 2px;
    border-style: dashed;
}

#ambitions {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 30%;
    margin-top: 10px;
    padding: 3px;
    border: 2px;
    border-style: dashed;
}

#how {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 30%;
    margin-top: 10px;
    padding: 3px;
    border: 2px;
    border-style: dashed;
}

h3 {
    text-align-last: center;
}

footer {
    clear: both;
}

ul {
    clear: both;
    width: 42%;
    background-color: rgba(0, 255, 0, 0.7);
    border: 3px;
    border-style: ridge;
}

ol {
    background-color: rgba(255, 0, 0, 0.7);
    width: 42%;
    border: 3px;
    border-style: ridge;
}

a {
    color: white;
}

.link {
    text-align-last: center;
}

h2 {
    color: white;
}