h1 {
    text-align-last: center;
    margin: 4px;
}

.list {
    text-align: center;
}

.lock {
    text-align: center;
}

.game {
    margin: 30px;
}

p {
    margin: 4px;
}

.links {
    text-align: center;
}

img {
    margin-top: 10px; 
}

.leftpic {
    margin-left: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 50px;
}

.rightpic {
    margin-right: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: 50px;
}


.homebody {
    display: flex;
    flex-direction: row;
}

.home {
    padding: 7px;
    border: 2px;
    border-style: double;
    margin-bottom: 40px; 
    text-indent: 30px;
    font-size: 22pt;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.contact {
    color: white;
}

header {
    margin-top: 10px; 
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    border: 2px;
    border-color: white;
    padding-bottom: 5px;
    border-radius: 25px;
    border-style: double;
    color: white;
    width: 90%;
    position: relative;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    background-image: url("Downtown.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.likes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
}

.bio {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#hobbies {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    width: 30%;
    margin-top: 10px;
    padding: 3px;
    border: 2px;
    border-style: double;
}

#ambitions {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    width: 30%;
    margin-top: 10px;
    padding: 3px;
    border: 2px;
    border-style: double;
}

#how {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    width: 30%;
    margin-top: 10px;
    padding: 3px;
    border: 2px;
    border-style: double;
}

h3 {
    text-align-last: center;
}

footer {
    clear: both;
}

ul {
    clear: both;
    width: 42%;
    background-color: rgba(0, 255, 0, 0.75);
    border: 3px;
    border-style: ridge;
}

ol {
    background-color: rgba(255, 0, 0, 0.75);
    width: 42%;
    border: 3px;
    border-style: ridge;
}

a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.link {
    text-align-last: center;
    text-decoration: none;
}

h2 {
    color: white;
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 2px;
    position: absolute; bottom: 0px; 
}