h1 {
    text-align-last: center;
}
body {
    background-color: gray;
}
#hobbies {
    background-color: darkgray;
    width: 32%;
    float: left;
}
#ambitions {
    background-color: darkgray;
    width: 32%;
    float: left;
    margin-left: 2%;
}
#how {
    background-color: darkgray;
    width: 32%;
    float: left;
    margin-left: 2%;
}
h3 {
    text-align-last: center;
}
footer {
    clear:both;
}
ul {
    clear:both;
    background-color: green;
    width: 42%;
    float: left;
}
ol {
    background-color: red;
    width: 42%;
    float: right;
}
a {
    color: black;
}
#link {
    text-align-last: center;
}